.home-header{
    margin: 20px;
}

.container {
    width: 100%;
    /* margin-left: 50px; */
}

.card {
    width: 280px;
    height: 380px;
    border: 1px solid gray;
    border-radius: 20px;
}

.card-title{
    margin: 0;
}

.about{
    margin: 0;
}

.photo {
    width: 240px;
    height: 140px;
    /* margin-left: 18px; */
    margin-top: 15px;
    /* margin-bottom: 5px; */
}

.card-content {
    /* margin-bottom: 0; */
    margin-left: 18px;
    text-align: left;
}

.info {
    /* margin-left: 0;
    margin-top: 0;
    margin-bottom: 0; */
    display: flex;
    justify-content: space-evenly;
    /* gap: 32px; */
    text-align: left;
}

.card-btn {
    background-color: blue;
    /* margin-top: 0; */
    padding-left: 96px;
    padding-right: 96px;
}

.home-container {
    display: flex;
    gap: 48px;
}

.card-container {
    margin-left: 0px;
    width: 900px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    /* border: none; */
}