
/* .card{
    width: 250px;
    height: 340px;
    border: 1px solid gray;
    border-radius: 20px;
}

.card-title{
    font-size: medium;
}

.photo{
    width: 220px;
    margin: 10px;
}

.info{
    display: flex;
    justify-content: space-evenly;
}

.card-btn{
    background-color: blue;
} */